/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
  background-color: black;
  color: white;
}


.container {
  max-width: 500px;
}

.logoicon {
  margin-right: 2px;
  color: gray;
  color: #009cd6;
}

.logobus {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: #beda72;
  color: #f1c500;
}

.logome {
  font-family: 'Rock Salt', cursive;
  color: #658609;
  font-size: 80%;
  color: #ed9600;
}

.tagline {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-size: 30%;
  color: gray;
}

a:hover {
  text-decoration: none;
}

.locationbox {
  background-color: gray;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 1em;
}
 .yourlocation {
  font-weight: bold;
  font-size: 120%;
 }

 .routenumber {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 0.25em;
 }

 .vehiclenumber {
  font-size: 85%;
  color: gray;
  margin-top: 0px;
  line-height: 120%;
 }


p#notice {
  font-size: 120%;
  color: #ff00ff;
  padding: 10px;
  margin-bottom: 5px;
}