/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* ---- site-wide ---- */

body {
  background-color: black;
  color: white;
}

.container {
  max-width: 500px;
}

.logoicon {
  margin-right: 2px;
  color: gray;
  color: #009cd6;
}

.logomarta {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  color: #f1c500;
}

.logome {
  font-family: 'Rock Salt', cursive;
  font-size: 80%;
  color: #ed9600;
}

.tagline {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  font-size: 30%;
  color: gray;
}

a:hover {
  text-decoration: none;
}

button a {
  color: white;
}

.footer {
  margin-top: 8em;
  background-color: #434543;
  padding: 10px;
  margin-bottom: 30px;
  font-family: 'Rock Salt', cursive;
}

.footer i {
  margin: 0px 5px;
}

img {
  width: 60px;
  float: left;
  margin: -20px 8px 0px 0px;
}

/* ---- show page ---- */

.locationbox {
  background-color:rgba(72,197,42,0.7);
  /* border-radius: 5px 5px 0px 0px; */
  padding: 10px 5px 2px 5px;
  text-align: center;
  margin-bottom: -100px;
  z-index: 10;
  position: relative;
  text-shadow: 2px 2px 3px black;
}

 .yourlocation {
  font-weight: bold;
  font-size: 120%;
 }

 .routenumber {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 0.25em;
 }

 .vehiclenumber {
  font-size: 85%;
  color: gray;
  margin-top: 0px;
  line-height: 120%;
 }


p#notice {
  font-size: 120%;
  color: #ff00ff;
  padding: 10px;
  margin-bottom: 5px;
}

/* ---- map styles ---- */
.content {
  color: black;
}

#map-canvas {
  height: 350px;
  width: 100%; 
  margin: 0; 
  padding: 0;
  margin-bottom: 10px;
  z-index: 0;
  position: relative;
}