<!DOCTYPE html>
<html>
<head>
  <title>BusMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat|Orbitron:500|Rock+Salt' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
  <h1><i class="fa fa-bus logoicon"></i><span class="logobus">Bus</span><span class="logome">Me</span> <span class="tagline">Your Portal to Metro Atlanta Transit</span></h1>

        <%= yield %>
        
  </div> <!-- closes container-->

</body>
</html>
